#friendsPage {
    display: flex;
    flex-direction: column;

    align-items: center;
    /* justify-content: center; */
    max-height: calc(100% - 80px);

    padding: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#friendSearch {
    width: calc(100% - 20px);
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--input-color);
    border-radius: 15px;
}

#friendSearch input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 10px 20px;
}

#friendSearch button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all .05s ease-in-out;
}

#friendSearch button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

#friendSearch a {
    padding: 10px;
}

#friendList {
    width: 100%;
    height: 100%;
    
    margin: 20px 0px 20px 0px;

    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px 20px;
    justify-items: center;
    align-items: center;
}

/* .friendCard {
    background-color: var(--online-color);
    border-radius: 15px;
} */

.friendCard {
    /* width: 150px; */
    /* height: 80%; */

    padding: 10px;

    background-color: var(--bg-color-another);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--text-color);

    transition: all .2s ease-in-out;
    border-bottom: 6px solid var(--offline-color);
    
    /* animation: friendCardShow .2s ease-in-out forwards; */
}

/* @keyframes friendCardShow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
} */

.friendCard.online {
    border-bottom: 6px solid var(--online-color);
}

.friendCard img {
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 50%;
    background-color: white;
}

/* .friendCard h3 {
    margin: 10px;
} */

.friendCard .friendCardButtons {
    display: flex;
}

.friendCard:hover {
    cursor: pointer;
    background-color: var(--bg-color-brighter);
}

.friendCard .friendCardButtons button {
    margin: 5px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--button-color);
    transition: all .05s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friendCard .friendCardButtons button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
}

button.friendAddButton {
    width: 125px;
    height: 125px;

    border-radius: 50%;
    
    border: none;
    outline: none;

    background-color: var(--button-color);
    color: var(--icon-color);

    transition: all .2s ease-in-out;
}

button.friendAddButton:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
}

.friendAddButton svg {
    width: 30px;
    height: 30px;
}