.profilePage {
    display: flex;

    align-items: start;
    justify-content: center;
    max-height: calc(100% - 80px);
    min-height: calc(100% - 80px);

    padding: 50px 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#profileCard {
    width: 95%;
    min-height: 500px;
    background-color: var(--bg-color-another);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#bannerInfo {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 150px;
}

#profileInfo {
    flex: 1;
    display: flex;
    padding: 20px;
}

#profilePictureAndButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePictureAndButtons img {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
}

#profileTextInfo {
    padding: 15px;
}

#profileTextInfo #nameAndOnline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    font-size: larger;
}

#profileTextInfo #nameAndOnline #onlineStatus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--online-color);
}