#settingsPage {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    /* justify-content: center; */
    /* max-height: calc(100% - 140px); */

    padding: 10px 25px 25px 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#settingsPage button {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px 10px;
}

#settingsPage button:hover {
    background-color: var(--button-color-hover);
    cursor: pointer;
}