header#header {
    /* position: relative; */
    display: flex;
    
    width: (100% - 30px);
    height: 40px;
    padding: 0px;

    align-items: center;

    justify-content: space-between;
    
    background-color: var(--bg-color-prior);

    -webkit-app-region: drag;

    z-index: 100;
}

.left-head-box {
    min-width: 150px;
    width: 33%;
    max-width: 33%;
    /* flex: 1; */
    height: 100%;
    align-items: center;
    display: flex;
    z-index: 100;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-head-box h2 {
    display: block;
    align-items: center;
    /* width: 100%; */
    /* min-width: 0; */
    /* max-width: 100%; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    /* padding: 0px 10px; */
    color: var(--text-color-pale);
}

.left-head-box svg {
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    fill: var(--text-color-pale);
}

.center-head-box {
    min-width: 360px;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.right-head-box {
    /* position: static; */
    min-width: 150px;
    width: 33%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: right;
}

ul#nav {
    display: flex;

    list-style: none;

    padding: 0;
}

ul#nav li {
    margin: 0px 10px;
    padding: 2px;

    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--no-hover-color);
    border-radius: 50%;
    -webkit-app-region: no-drag;

    transition: all .15s ease-in-out;
}

ul#nav li.selectedPage {
    background-color: var(--button-color);
}

ul#nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    padding: 2px;
}

ul#nav li a svg {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .25s ease-in-out;
}

ul#nav li a svg:hover {
    transform: scale(1.2);
}