@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

body {
  width: 100vw;
  min-width: 700px;
  height: 100vh;
}

#root.dark {
  --icon-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --text-color-pale: rgba(255, 255, 255, 0.192);
  --text-color-pale-another: rgba(255, 255, 255, 0.452);
  --scrollbar-color: #242321;
  --bg-color: #393835;
  --bg-color-another: #403E3B;
  --bg-color-brighter: #494642;
  --bg-color-brighter-another: #504c47;
  --bg-color-prior: #42413F;
  --button-color: #504e4b;
  --button-color-hover: #5f5d5b;
  /* --bg-color-prior-another: #42413F; */
  --input-color: #403E3B;
  --hover-color: rgba(255, 255, 255, 0.233);
  --warn-hover-color: rgba(221, 40, 40, 0.473);
  --no-hover-color: rgba(255, 255, 255, 0);
  --online-color: rgb(85, 156, 85);
  --afk-color: #EAEF61;
  --busy-color: #AF3F3F;
  --offline-color: rgb(77, 77, 77);
  --accent-color: rgb(85, 156, 85);
  --accent-color-another: rgb(96, 170, 96);
}

#root {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  /* background: rgba(0, 0, 0, 0.2);  */
  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: var(--scrollbar-color);
}